* {
    box-sizing: border-box;
}
.form{
   // border-style : solid;
    float : left;
    height :30%;
    margin-top : 25px;
}
.box{
   // border-style : solid;
    width : 100%;
    float : left;
    height :30%;
}
.box1{
    //border-style : solid;
    height :100%;
    width : 20%;
    float : left;
    padding-left :60px;
    font-size : 30px;
}
.box2{
    //border-style : solid;
    height :100%;
    width : 80%;
    float : left;
}
.box3{
    //border-style : solid;
    width : 100%;
    float : left;
    height :30%;
    padding-left :20%;
}
body{
    width :100%;
    height : 100%;
}
    
.main{
    width : 100%;
    height : 100%;
    background-color : white;
    float : left;
   // margin-left : 100px;
   // margin-right : 100px;
}
.l1{
    width : 25%;
    height : 80%;
   // border-style : solid;
    color : black;
    background-color : white;
    float : left;
}
.l2{
    width : 75%;
    height : 80%;
   // border-style : solid;
    color : black;
    float : left;
    background : lightsteelblue;
}
.s{
    width :100%;
    height : 20%;
    //border-style : solid;
    color : black;
    float : left;
    background : darkslategrey;
}
.l21{
    width : 100%;
    height :10%;
    //border-style : solid;
    margin-top : 185px;
   // margin-left : 80px;
   padding-left : 60px;
}
h1{
    font-size : 40;
    color : darkslateblue;
}
.text{
    width : 500px;
    height : 40px;
    font-size : 20;
}
.log{
    width :500px;
    height :40px;
    font-size : 20;
    background :crimson;
    border-color :crimson;
}
.l11{
    width : 99.9%;
    height : 10%;
    //border-style : solid;
    float : left;
    margin-left :60px;
}
.l12{
    width : 60%;
    height : 30%;
    //border-style : solid;
    float : left;
    margin-left : 100px;
    margin-top : 80px;
}
.img{
   // border-style : solid;
    width : 500px;
    height : 100px;
}
.link{
    width :100%;
    height :20px;
   // border-style :solid;
    float : left ;
    margin-top : 25px;
   padding-left : 32%;
}
a{
    color : green;
    font-size : 21px;
}

        
