*{
    box-sizing: border-box;
}
.a{

    height:200px;
    background-color: white;
}
.a1{
    float: left;    
    height:197px;
    background-color: white;
    width:25%;
}
.a2{
     margin-top:168px;
     float: right;
     height:25px;
     background-color: white;
     width:20%;
}
.a3{
     margin-top:168px;
     float: right;
     margin-right:2px;
     height:25px;
     background-color: white;
     width:20%;
}
.d{
    height:200px;
    background-color: white;
    background-color: rgb(244,244,244);
}
.d1{
    height:198px;
    background-color: white;
    position: absolute;
    margin-left:20%;
    margin-right:20%;
    width:60%;
}
.d11{
    float:left;
    height:40px;
    width:100%;
    background-color: rgb(244,244,244);
}
.d12{
    float:left;
    height:130px;
    width:100%;
}
.d12a{
    float:left;
    height:20px;
    width:100%;
    background-color: rgb(244,244,244);
}
.d12b{
    margin-top:0px;
    float:left;
    height:90px;
    width:100%;
    background-color: white;
    
}
.d12c{
    margin-top:0px;
    float:left;
    height:20px;
    padding:5px 20px 5px 30px ;
    width:100%;
    background-color: rgb(244,244,244);
}
.d12d{
    margin-top:0px;    
    float:left;
    height:90px !important;
    cursor:pointer!important;
    border:solid 1px black!important;
    width:100%;
    background-color: white;
    padding-bottom:50px;

}
    
.d13{
    float:left;
    height:30px;
    width:100%;
    background-color: rgb(244,244,244);
}

.c{
    width:60%;
    position: absolute;
    padding-left:20%;
    padding-right:20%;
    width:100%;
    margin-bottom:50px;
    background-color:  #F5F5F5;
}
.c1{
    float:left;
    height:120px;
    padding:5px 20px 5px 40px ;
    width:100%;
    background-color: white;
}
.c2{
    float:left;
    height:12px;
    width:100%;
}
.c3{
    float:left;
    height:120px;
    padding:5px 20px 5px 40px ;
    width:100%;
    background-color: white;
}
.c4{
    float:left;
    height:12px;
    width:100%;
}
.c5{
    float:left;
    height:120px;
    padding:5px 20px 5px 40px ;
    width:100%;
    background-color: white;
}
.c6{
    float:left;
    height:12px;
    width:100%;
}
.c7{
    float:left;
    height:120px;
    padding:5px 20px 5px 30px ;
    width:100%;
    background-color: white;
}
.c8{
    float:left;
    height:12px;
    width:100%;
}
.c9{
    float:left;
    height:120px;
    padding:20px;
    padding:5px 20px 5px 30px ;
    width:100%;
    background-color: white;
}
.c10{
    float:left;
    height:12px;
    width:100%;
}
.c11{
    float:left;
    height:120px;
    padding:20px;
    padding:5px 20px 5px 30px ;
    width:100%;
    background-color: white;
}
.c12{
    float:left;
    height:12px;
    width:100%;
}
.c13{
    float:left;
    height:120px;
    padding:20px;
    padding:5px 20px 5px 30px ;
    width:100%;
    background-color: white;
}
.c14{
    float:left;
    height:12px;
    width:100%;
}
.c15{
    float:left;
    height:120px;
    padding:20px;
    padding:5px 20px 5px 30px ;
    width:100%;
    background-color: white;
}
.c16{
    float:left;
    height:12px;
    width:100%;
}
.c17{
    float:left;
    height:120px;
    padding:20px;
    padding:5px 20px 5px 30px ;
    width:100%;
    background-color: white;
}
.c18{
    float:left;
    height:12px;
    width:100%;
}
.c19{
    float:left;
    height:120px;
    padding:20px;
    padding:5px 20px 5px 30px ;
    width:100%;
    background-color: white;
}
.c20{
    float:left;
    height:12px;
    width:100%;
}
.c21{
    float:left;
    height:120px;
    padding:20px;
    padding:5px 20px 5px 30px ;
    width:100%;
    background-color: white;
}

.image{
    float: left;
    height:195px;
    
}
.button1{
    background-color:  #e20d2a;
    color: white;
    border:  1px solid  #e20d2a;
    padding: 6px 20px 6px 20px;
    text-align: center;
    font-size: 10px;
    cursor: pointer;
}
.button2{
   float: right;
   border:  1px solid red;
   background-color: white;
   color: #e20d2a; 
   padding: 6px 30px 6px 30px;
   text-align: center;
   font-size: 10px;
   cursor: pointer;
   
}
.style{ 
    float: left;
    margin-bottom:3px !important;
    margin-top:4px !important;
    color: #595959;
    font-family:Times new roman;
}
input[type=text]{
    box-sizing: border-box;
    width:100%;
    height:80px;
    border: none;
    cursor: top;
    box-sizing: border-box;
    background-color: white;
}
.button3{
    float: right;
    background-color:  #e20d2a;
    color: white;
    border:  1px solid  #e20d2a;
    padding: 6px 20px;
    text-align: center;
    font-size: 10px;
    cursor: pointer;
}
